body {
    background: #f2ebe4;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 60px;
    background: #1f1f1f;
    color: white;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.logo {
    font-size: 22px;
    line-height: 20px;
    font-weight: 700;
    text-decoration: none;
    color: white;
}

.nav-center {
    display: flex;
    gap: 36px;
}

.nav-item {
    color: white;
    opacity: 0.7;
    text-decoration: none;
    font-size: 18px;
}

.nav-item.active {
    opacity: 1;
    font-weight: bold;
}

.icon-btn {
    background: white;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

/* PAGE */
.container {
    background: white;
    width: 90%;
    max-width: 1100px;
    margin: 40px auto;
    padding: 40px;
    border-radius: 20px;
}

.title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
}

/* DELIVERY CARDS */
.delivery-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.delivery-card {
    background: #ffffff;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.status {
    font-weight: bold;
    padding: 3px 10px;
    border-radius: 8px;
    color: #fff;
}

.status.in-progress {
    background: #ffc107;
}

.status.delivered {
    background: #28a745;
}

.status.pending {
    background: #dc3545;
}
