/* === Reset === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* === Container Principal === */
body {
    background: #ffffff;
}

/* LOGO SUPERIOR ESQUERDO */
.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 22px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  color: inherit;
}

.container {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    text-align: center;
    padding: 40px 20px;
}

/* === Título === */
.title {
    font-size: 42px;
    font-weight: 600;
    color: #222;
    margin-top: 40px;
    margin-bottom: 80px;
}

/* === Caixa do input === */
.input-box {
    background: #f2ece6;
    width: 100%;
    padding: 25px;
    border-radius: 20px;
    margin-bottom: 40px;
}

.input-box input {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    font-size: 22px;
    color: #222;
}

/* === Texto SMS === */
.sms-text {
    font-size: 18px;
    margin-bottom: 50px;
}

.sms-link {
    color: #9DBA00;
    text-decoration: underline;
    font-weight: 500;
}

/* === Botão Enviar === */
.btn-enviar {
    width: 100%;
    background: #4C6F58;
    color: #fff;
    padding: 22px;
    font-size: 24px;
    font-weight: 500;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-enviar:hover {
    opacity: 0.9;
}

/* ========================================================= */
/* ====================== POPUP ============================ */
/* ========================================================= */

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup.hidden {
    display: none;
}

.popup-box {
    background: #ffffff;
    width: 85%;
    max-width: 380px;
    padding: 35px 25px;
    border-radius: 22px;
    text-align: center;
    box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.25s ease-out;
}

.popup-box h2 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 12px;
    color: #333;
}

.popup-box p {
    font-size: 18px;
    margin-bottom: 25px;
    color: #555;
}

.popup-btn {
    width: 100%;
    background: #4C6F58;
    color: #fff;
    border: none;
    padding: 18px;
    font-size: 20px;
    border-radius: 16px;
    cursor: pointer;
    transition: 0.2s;
}

.popup-btn:hover {
    opacity: 0.9;
}

/* Animação do popup */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.92);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
