/* === Reset === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* === Container Principal === */
body {
    background: #ffffff;
}

.container {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    text-align: center;
    padding: 40px 20px;
}

/* LOGO SUPERIOR ESQUERDO */
.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 22px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  color: inherit;
}

/* === Título === */
.title {
    font-size: 42px;
    font-weight: 600;
    color: #222;
    margin-top: 40px;
    margin-bottom: 80px;
}

/* === Caixa do input === */
.input-box {
    background: #f2ece6;
    width: 100%;
    padding: 25px;
    border-radius: 20px;
    margin-bottom: 40px;
}

.input-box input {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    font-size: 22px;
    color: #222;
}

/* === Texto SMS === */
.sms-text {
    font-size: 18px;
    margin-bottom: 50px;
}

.sms-link {
    color: #9DBA00;
    text-decoration: underline;
    font-weight: 500;
}

/* === Botão Enviar === */
.btn-enviar {
    width: 100%;
    background: #4C6F58;
    color: #fff;
    padding: 22px;
    font-size: 24px;
    font-weight: 500;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-enviar:hover {
    opacity: 0.9;
}

/* POPUP */
.popup {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.popup.hidden {
  display: none;
}

.popup-box {
  background: white;
  width: 90%;
  max-width: 350px;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}

.popup-btn {
  margin-top: 20px;
  width: 100%;
  padding: 14px;
  background: #4d6f57;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 14px;
  cursor: pointer;
}
