/* General */
body {
    background: #f2ebe4;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.container {
    background: white;
    margin: 40px auto;
    padding: 40px;
    width: 90%;
    max-width: 1200px;
    border-radius: 20px;
}

.title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 60px;
    background: #1f1f1f;
    color: white;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.logo {
    font-size: 22px;
    line-height: 20px;
    font-weight: 700;
    text-decoration: none;
    color: white;
}

.nav-center {
    display: flex;
    gap: 36px;
}

.nav-item {
    color: white;
    opacity: 0.7;
    text-decoration: none;
    font-size: 18px;
}

.nav-item.active {
    opacity: 1;
    font-weight: bold;
}

.icon-btn {
    background: white;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
}



/* Profile */
.profile-box {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.photo-section {
    position: relative;
}

.profile-pic {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 50%;
}

.edit-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: #98e588;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
}

.info-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-row {
    background: #c4ef9f;
    padding: 15px 25px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    font-size: 20px;
}

.edit-small {
    background: #a4e68b;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

/* Address grid */
.address-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.box {
    background: #c4ef9f;
    padding: 20px;
    border-radius: 15px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box button {
    background: #a4e68b;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}